@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COLOR */
    --background: #ffffff;
    --foreground: #637381;
    --primary: #3758f9;
    --secondary: #111928;
    --primary-foreground: #ffffff;
    --secondary-foreground: #ffffff;


    /* SIZING */
    --header-height: 6rem;
    --header-stripp: 2rem;
}

.container {
    width: 100%;
    max-width: clamp(320px, 90%, 1400px);
}

.inline-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rm-style {
    text-decoration: none;
    color: inherit;
}

.header-stripp-container {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
}

.main-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--header-height);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-container .header-list ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.logo div a span {
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.header-btns div .sign-up {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    padding: .5rem 1.5rem;
    border-radius: 5px;
}

.header-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.main-section {
    width: 100%;
}

.main-section-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.left-hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.clients-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.clients-container p {
    color: var(--foreground);
}

.clients-container>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.left-hero-section>div:nth-child(1) {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.header-lg {
    font-size: 4rem;
    margin: 0;
    z-index: 1;
}
.header-md {
    font-size: 3rem;
    margin: 0;
    z-index: 1;
}

.left-hero-section>div:nth-child(1) p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.left-hero-section>div:nth-child(1) .header-btn-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.left-hero-section>div:nth-child(1) .header-btn-container>a:nth-child(1) {
    color: var(--primary-foreground);
    background-color: var(--primary);
    padding: .75rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

.left-hero-section>div:nth-child(1) .header-btn-container>div a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dotted-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image-container img {
    width: 100%;
    max-width: 30rem;
    z-index: 1;
}